@import "./class/navbar";
@import "./class/form";
@import "./class/tabela";
@import "./class/login";
@import "./class/fonts";
@import "./class/load";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #fff;
}



.header{
    width: 100%;


    .uk-navbar-item {

        color: #fff;

    }

    .uk-navbar-container:not(.uk-navbar-transparent) {

        background: #1b4f72;
        text-transform: uppercase;
        text-align: center;
        list-style: none;
        border: none;
        

        li{
            padding: 10px 15px;

            a{
                color: #fff;
            }
        }




    }




}


.container{
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 15px;

    .text{
        text-transform: capitalize;
        margin: auto;
        width: 50%;
        padding: 80px;
        


        text-align: center;
        h1, h2{
            padding: 15px;
        }


        p{
            font-size: 16px;
            padding: 5px;
        }
    }

    .home{
        float: right;
    }





}



.home-section{
    margin: 15px;


    .home-content{
        background: #e5e7e9;
        display: flex;
        align-items: center;

        .bx-menu,
        .text{
        color: #626567;
        font-size: 35px;
        }
        .text{
            font-size: 26px;
            font-weight: 600;
            text-transform: capitalize;
        }

        
    }

    




    p{
        font-size: 15px;
    }

    .text{
        font-size: 36px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
    }
    .button{
        // margin-left: auto;
        margin-bottom: 15px;
        display: flex;

        a{
            padding: 10px 40px;
            right: 15px;
            background-color: #239b23;
            border: 2px solid #0c410c;
            border-radius: 10px;
            color: #fff;
            margin-right: 15px;
            text-decoration: none;

            &:hover{
                background-color: #0c410c;
            }
        } 
    }    

}

.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}

body{

    .login{
        height: 100vh;
        width: 100%;
        display: flex;
        
        .box-login{
            padding: 15px;
            border: 2px solid rgba(0,0,0,.4);
            border-radius: 5px;
            margin: auto;
    
        }
    
    
    
    }

}