@import "./class/sidebar";
@import "./class/nova-proposta";
@import "./class/table";
@import "./class/login";


body{
    background: #fff;
}




.home-section{
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;

    .home-content{
        background: #e5e7e9;
        height: 60px;
        display: flex;
        align-items: center;

        .bx-menu,
        .text{
        color: #626567;
        font-size: 35px;
        }

        .bx-menu{
            margin: 0 15px;
            cursor: pointer;
        }

        .text{
            font-size: 26px;
            font-weight: 600;
            text-transform: capitalize;
        }

        .button{
            margin-left: auto;

            a{
                padding: 10px 40px;
                right: 15px;
                background-color: #239b23;
                border: 2px solid #0c410c;
                border-radius: 10px;
                color: #fff;
                margin-right: 15px;
                text-decoration: none;

                &:hover{
                    background-color: #0c410c;
                }
            } 
        }
    }

}

.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}