@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #2874a6;
  text-align: center;
}
.uk-navbar-container:not(.uk-navbar-transparent) li a {
  color: #fff;
}

.uk-navbar-dropdown {
  background: #fff;
}

.home-section {
  width: 100%;
}
.home-section .form-criar {
  border: 0.5px solid #d0d3d4;
  padding: 15px;
  width: 75%;
  margin: 15px;
  border-radius: 5px;
  text-align: left;
}
.home-section .form-criar p {
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
}
.home-section .form-criar .uk-form-controls {
  width: 50%;
  float: right;
}
.home-section .form-criar .salvar {
  padding: 10px 40px;
  right: 15px;
  font-weight: 600;
  background-color: #239b23;
  border: 2px solid #0c410c;
  border-radius: 5px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  margin: 15px;
}
.home-section .form-criar .salvar:hover {
  background-color: #0c410c;
}
.home-section .form-criar .salvar-criar {
  padding: 10px 40px;
  right: 15px;
  font-weight: 600;
  background-color: #3498db;
  border: 2px solid #1b4f72;
  border-radius: 5px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}
.home-section .form-criar .salvar-criar:hover {
  background-color: #1b4f72;
}
.home-section .form-criar .cancelar {
  padding: 10px 40px;
  right: 15px;
  font-weight: 600;
  background-color: #cb4335;
  border: 2px solid #641e16;
  border-radius: 5px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}
.home-section .form-criar .cancelar:hover {
  background-color: #641e16;
}
.home-section .uk-button:not(:disabled) {
  padding: 0px 40px;
  right: 15px;
  background-color: #239b23;
  border: 2px solid #0c410c;
  border-radius: 5px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  margin: 15px;
}
.home-section .uk-button:not(:disabled):hover {
  background-color: #0c410c;
}
.home-section .box-itens-p {
  border: 0.5px solid #d0d3d4;
  padding: 15px;
  margin: 15px;
}
.home-section .box-itens-p .excluir {
  padding: 10px 40px;
  right: 15px;
  background-color: #cb4335;
  border: 2px solid #641e16;
  border-radius: 5px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}
.home-section .box-itens-p .excluir:hover {
  background-color: #ec7063;
}
.home-section .box-itens-p .modal-example .form {
  border: 0.5px solid #d0d3d4;
  padding: 15px;
  background: #0c410c;
}

.table {
  border: 2px solid #cacfd2;
  padding: 15px;
  margin: 15px;
}

.uk-table {
  background: #5dade2;
}
.uk-table th {
  font-weight: 600;
  font-size: 15px;
  color: #FFF;
  border: 2px solid #cacfd2;
  vertical-align: middle;
}
.uk-table td {
  text-align: center;
  border: 2px solid #cacfd2;
}
.uk-table td.status {
  background: red;
  text-align: center;
}
.uk-table td.status.analizando {
  background: #f4d03f;
  color: #7d6608;
}
.uk-table td.status.aprovado {
  background: #52be80;
  color: #145a32;
}
.uk-table td.status.cancelado {
  background: #ec7063;
  color: #641e16;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #aeb6bf;
}

.login {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.login form {
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: 160px 50px;
  border-radius: 15px;
}
.login form p {
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
  margin: auto;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.login form .email {
  width: 100%;
}
.login form .email #email {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.login form .senha {
  width: 100%;
}
.login form .senha #senha {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.login form button {
  padding: 15px;
  border: 1px solid #fff;
  background-color: #2980b9;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
}

.header .uk-navbar-item {
  color: #fff;
}
.header .uk-navbar-container:not(.uk-navbar-transparent) {
  background: #1b4f72;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
}
.header .uk-navbar-container:not(.uk-navbar-transparent) li {
  padding: 10px 15px;
}
.header .uk-navbar-container:not(.uk-navbar-transparent) li a {
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 15px;
}
.container .text {
  text-transform: capitalize;
  margin: auto;
  width: 50%;
  padding: 80px;
  text-align: center;
}
.container .text h1, .container .text h2 {
  padding: 15px;
}
.container .text p {
  font-size: 16px;
  padding: 5px;
}
.container .home {
  float: right;
}

.home-section {
  height: 100vh;
  width: 100%;
  padding: 15px;
}
.home-section .home-content {
  background: #e5e7e9;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #626567;
  font-size: 35px;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
}
.home-section p {
  margin: 15px;
  font-size: 15px;
}
.home-section .text {
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.home-section .button {
  margin-bottom: 15px;
  display: flex;
}
.home-section .button a {
  padding: 10px 40px;
  right: 15px;
  background-color: #239b23;
  border: 2px solid #0c410c;
  border-radius: 10px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}
.home-section .button a:hover {
  background-color: #0c410c;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

body .login {
  height: 100vh;
  width: 100%;
  display: flex;
}
body .login .box-login {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */