/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #e5e7e9;
  border: 0.5px solid #626567;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 78px;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}
.sidebar.close .nav-links i .arrow {
  display: none;
}
.sidebar.close .nav-links .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar.close .nav-links:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #626567;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #626567;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #e5e7e9;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .nav-links li.showMenu i .arrow {
  transform: rotate(-180deg);
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #626567;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #e5e7e9;
  display: none;
}
.sidebar .nav-links li .sub-menu a {
  color: #626567;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #626567;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e5e7e9;
  border: 0.5px solid #626567;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #e5e7e9;
  transition: all 0.5s ease;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #626567;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar .profile-details .job {
  font-size: 12px;
}

.home-section .create {
  height: 100vh;
  width: 100%;
  display: flex;
}
.home-section .create .new {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: auto;
}
.home-section .create .new label {
  margin: 15px;
  float: left;
}
.home-section .create .new select {
  width: 50%;
  margin: 15px;
  padding: 5px 10px;
  float: right;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: #333;
}
.home-section .create .new #nome, .home-section .create .new #email {
  margin: 14px;
  padding: 5px 10px;
  text-align: left;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: #333;
  float: right;
}
.home-section .create .new input {
  margin: 14px;
  padding: 5px 10px;
  text-align: left;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: #333;
  float: right;
}
.home-section .create .new #text {
  padding: 10px;
  text-align: left;
  float: right;
}
.home-section .create .new .submit {
  margin: auto;
  padding: 10px 40px;
  background-color: #239b23;
  border: 2px solid #0c410c;
  border-radius: 10px;
  color: #fff;
}
.home-section .create .new .submit:hover {
  background-color: #0c410c;
}

.home-section .table {
  height: 100vh;
  width: 100%;
  display: flex;
}
.home-section .table #table {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #aeb6bf;
}

.login {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.login form {
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: 160px 50px;
  border-radius: 15px;
}
.login form p {
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
  margin: auto;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.login form .email {
  width: 100%;
}
.login form .email #email {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.login form .senha {
  width: 100%;
}
.login form .senha #senha {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.login form button {
  padding: 15px;
  border: 1px solid #fff;
  background-color: #2980b9;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}

body {
  background: #fff;
}

.home-section {
  position: relative;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.home-section .home-content {
  background: #e5e7e9;
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #626567;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
}
.home-section .home-content .button {
  margin-left: auto;
}
.home-section .home-content .button a {
  padding: 10px 40px;
  right: 15px;
  background-color: #239b23;
  border: 2px solid #0c410c;
  border-radius: 10px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}
.home-section .home-content .button a:hover {
  background-color: #0c410c;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

body .login {
  height: 100vh;
  width: 100%;
  display: flex;
}
body .login .box-login {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */