




.home-section {

    width: 100vw;
    height: 100vh;

    

    .form{
        border: 0.5px solid #d0d3d4;
        padding: 15px;
        width: 75%;
        margin: auto;
        border-radius: 5px;
        text-align: left;
        box-shadow:0px 0px 111px -20px rgba(0, 0, 0, 0.5);
        
        label{
            font-weight: 600;
            font-size: 15px;

        }

        h1{
            font-weight: bolder;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
        }

        p{
            font-weight: bolder;
            font-size: 20px;
            text-transform: uppercase;
        }

        .uk-form-controls{
            width: 50%;
            float: right;
        }

        .salvar{
            padding: 10px 40px;
            right: 15px;
            font-weight: 600;
            background-color: #239b23;
            border: 2px solid #0c410c;
            border-radius: 5px;
            color: #fff;
            margin-right: 15px;
            text-decoration: none;
            margin: 15px;

            &:hover{
                background-color: #0c410c;
            }
        }
        .salvar-criar{
            padding: 10px 40px;
            right: 15px;
            font-weight: 600;
            background-color: #3498db;
            border: 2px solid #1b4f72;
            border-radius: 5px;
            color: #fff;
            margin-right: 15px;
            text-decoration: none;
            margin: 15px;

            &:hover{
                background-color: #1b4f72;
            }
        }
        .cancelar{
            padding: 10px 40px;
            right: 15px;
            font-weight: 600;
            background-color: #cb4335;
            border: 2px solid #641e16;
            border-radius: 5px;
            color: #fff;
            margin-right: 15px;
            text-decoration: none;
            margin: 15px;

            &:hover{
                background-color: #641e16;
            }
        }

        .excluir{
            padding: 10px 40px;
            right: 15px;
            background-color: #cb4335;
            border: 2px solid #641e16;
            border-radius: 5px;
            color: #fff;
            margin-right: 15px;
            text-decoration: none;

            &:hover{
                background-color: #ec7063;
            }
        }
    }

    
    

    .uk-button:not(:disabled) {

        padding: 0px 40px;
        right: 15px;
        background-color: #239b23;
        border: 2px solid #0c410c;
        border-radius: 5px;
        color: #fff;
        margin-right: 15px;
        text-decoration: none;
        margin: 15px;

        &:hover{
            background-color: #0c410c;
        }
        
        

    }

    
    
    
}