

.uk-navbar-container:not(.uk-navbar-transparent){

    background-color: #1b4f72;
    text-align: center;

    

    li{
        a{
            color: #fff;
        }
    }

}
.uk-navbar-dropdown{
    background: #333;
}