




.home-section {


    .form{
        height: 100vh;
        background: #bdc3c7;
        background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
        background: linear-gradient(to right, #2c3e50, #bdc3c7);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins',sans-serif;
        
        .new{
            background-color: #fff;
            max-width: 500px;
            width: 100%;
            padding: 15px;
            border: 2px solid rgba(0,0,0,.4);
            border-radius: 5px;
            text-transform: uppercase;

            .proposta-details{
                display: block;
                

                .input-box{
                }
                .details{
                    width: 50%;
                    float: left;
                    margin: 5px;
                }
                
                #caixa{
                    padding: 20px;
                    width: 100%;
                    background: rgba(0,0,0,.1);
                    border-radius: 5px;
                }

                #box, #saida{
                    padding: 5px;
                    width: 100%;
                    background: rgba(0,0,0,.1);
                    border-radius: 5px;

                }

                .button{
                    width: 100%;

                    button{

                        margin: auto;
                        padding: 10px 40px;
                        background-color: #239b23;
                        border: 2px solid #0c410c;
                        border-radius: 10px;
                        color: #fff;
                        width: 100%;

                        &:hover{
                            background-color: #0c410c;
                        }
                    }

                    
                }
            }
            


            

        }
        




    }
    
    
}