.home-section{

    .table{

        height: 100vh;
        width: 100%;
        display: flex;

        #table{
            border: 2px solid #333;
            border-radius: 5px;
            padding: 15px;
            margin: auto;

        }



    }



}