.table{
    border: 1px solid #cacfd2;
    padding: 15px;
    box-shadow:0px 0px 100px -20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;


    

    .uk-table {
        background: #5dade2;
        border-radius: 5px;
        margin: 10px;

        th {
            padding: 16px 12px;
            text-align: left;
            text-align: center;
            font-size: 10px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
        }
    }

    tbody{
        background: #f0f3f4;
    }

    td{
        text-align: center;
        border: 2px solid #cacfd2;
        
        &.status{
            background: red;
            text-align: center;
    
            &.analizando{
                background: #f4d03f;
                color: #7d6608;
            }
    
            &.aprovado{
                background: #52be80;
                color: #145a32;
            }
    
            &.cancelado{
                background: #ec7063;
                color: #641e16;
            }
        }
    }

    .salvar-criar{
        padding: 10px 40px;
        right: 15px;
        font-weight: 600;
        background-color: #3498db;
        border: 2px solid #1b4f72;
        border-radius: 5px;
        color: #fff;
        margin-right: 15px;
        text-decoration: none;
        margin: 15px;

        &:hover{
            background-color: #1b4f72;
        }
    }
    .cancelar{
        padding: 10px 40px;
        right: 15px;
        font-weight: 600;
        background-color: #cb4335;
        border: 2px solid #641e16;
        border-radius: 5px;
        color: #fff;
        margin-right: 15px;
        text-decoration: none;
        margin: 15px;

        &:hover{
            background-color: #641e16;
        }
    }
    
    .excluir{
        padding: 10px 40px;
        right: 15px;
        background-color: #cb4335;
        border: 2px solid #641e16;
        border-radius: 5px;
        color: #fff;
        margin-right: 15px;
        text-decoration: none;

        &:hover{
            background-color: #ec7063;
        }
    }

    
    
    
    
}




    // th{
    //     font-weight: 600;
    //     font-size: 15px;
    //     color: #FFF;
    //     border: 2px solid #cacfd2;
    //     vertical-align: middle;

    // }
    

    

    




